.index {
  overflow: auto;
}

.index .reveal {
  font-size: 24px;
  width: 80%;
  margin: auto;
  overflow: visible;
}

.index h1,
.index h2,
.index h3,
.index h4,
.index h5 {
  margin: 20px 0 0 0;
}

.index ol,
.index ul {
  display: block;
  line-height: normal;
}
